<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="/stylesheets/bootstrap.min.css" type="text/css">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Noto_Emoji_Oreo_1f405.svg/200px-Noto_Emoji_Oreo_1f405.svg.png" alt="logo">
    <title>Document</title>
</head>
<body>
    
