<%- include('./partials/header') %>

    <main id="sign_in">
    <form> 
        <div class="form-group"> 
        <label for="username">User name</label></br>

        <input type="text" class="form-control" name="username"></br>
        <input type="submit" value="Sign in">
        </div>
    </form>
</main>
<%- include('./partials/footer') %>